@keyframes spinning {
  from { transform: rotateZ(0deg) }
  to { transform: rotateZ(360deg) }
}

body {
  background-color: $black;
  overflow: hidden;
}

.msc-updating {
  gap: .75rem;
  position: fixed;
  bottom: 0;
  right: -15rem;
  padding: .75rem 2.5rem 1.25rem 1.75rem;
  background-color: $red;
  color: $white;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  z-index: 1;
  transition: .3s;
  transform: skewX(-15deg);

  &.-visible {
    right: -1rem;

  }

  &__content {
    display: flex;
    gap: .75rem;
    align-items: center;
    transform: skewX(15deg);
  }

  &__loader {
    display: block;
    height: 1.5rem;
    width: 1.5rem;
    border: 4px solid saturate($white, 15%);
    border-bottom-color: transparent;
    border-radius: .75rem;
    animation: 1s infinite spinning;
  }
}

.msc-last-update {
  position: fixed;
  bottom: 0;
  right: -15rem;
  padding: .75rem 2.5rem 1.25rem 1.75rem;
  background-color: $red;
  color: $white;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  transition: .3s;
  z-index: 1;
  border: 1px solid rgba($black, .05);
  box-shadow: 4px 6px 8px rgba($black, .2);
  transform: skewX(-15deg);

  &.-visible {
    right: -1rem;
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    transform: skewX(15deg);
  }

  &__label {
    font-size: .8rem;
    color: transparentize($white, .25);
  }
}

.msc-page {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 4rem;
  background: transparentize($black, .6);
  height: 100vh;
  overflow: hidden;

  &:before {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: url("/src/assets/bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
  }

  * {
    color: $black;
    font-family: 'Open Sans', sans-serif;
  }

  &__header {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 100%;
    max-width: 1200px;
    margin: 0 2rem;
  }
}

.msc-top-bar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 2rem;

  button {
    background-color: transparentize($black, .3);
    color: yellow;
    outline: none;
    padding: .75rem 1.25rem;
    border: 2px solid $yellow;
    border-radius: .5rem;
    text-transform: uppercase;
    font-weight: bold;
    transition: .3s;
    cursor: pointer;

    &:hover {
      transform: scale(1.05);
      background-color: $yellow;
      color: $black;
    }

    &:active {
      transform: scale(1);
      background-color: darken($yellow, 10%);
      border-color: darken($yellow, 10%);
      color: $black;
    }
  }
}

.msc-zenika-logo {
  background: url("../quizz-icon.svg");
}

.msc-title {
  font-size: 3rem;
  font-weight: bold;
  text-align: left;
  color: $white;
  width: 100%;
  line-height: 3rem;
}

.msc-subtitle {
  font-size: 1.25rem;
  font-weight: bold;
  text-align: left;
  color: $white;
}

.msc-top-score {
  display: flex;
  gap: 2rem;
  width: 100%;
  max-width: 1200px;
  margin: 0 2rem;

  &__card {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    width: 100%;
    border-radius: .5rem;
    background-color: transparentize($black, .25);
    padding: 0 2rem 1rem 0;
    // border: 1px solid $white;
    overflow: hidden;

    &__header {
      display: flex;
      align-items: center;
      gap: 1.25rem;
      font-size: 1.5rem;
    }
  }

  &__rank {
    margin-left: -.25rem;
    padding-left: .25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    height: 3rem;
    width: 4rem;
    font-weight: bold;
    background: $red;
    transform: skewX(-15deg);

    span {
      color: $white;
      transform: skewX(15deg);
    }
  }

  &__score {
    display: flex;
    width: 100%;
    font-weight: bold;
    margin-left: 3rem;

    &__stat {
      flex-grow: 1;
      display: flex;
      flex-direction: column;
    }

    &__label {
      font-size: 1rem;
      color: $yellow;
    }

    &__value {
      font-size: 2rem;
      color: $white;
    }
  }

  &__pseudo {
    font-size: 1.5rem;
    font-weight: 800;
    color: #d32b2d;
    text-transform: uppercase;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  &__date {
    margin-top: 1rem;
    font-size: .8rem;
    color: lighten($black, 50%);
  }
}

.msc-score-table {
  position: relative;
  width: 100%;
  max-width: 1200px;
  border-collapse: separate;
  border-spacing: 0 .4rem;
  margin: 0 2rem;

  thead th {
    color: $yellow;
    text-align: left;

    &:first-child {
      padding-left: 1.5rem;
    }

    &:last-child {
      padding-right: 1rem;
      text-align: right;
    }
  }

  tbody {
    tr {
      width: 100%;
      background-color: transparentize($black, .25);

      td:first-child {
        padding: 0;
        border-radius: .25rem 0 0 .25rem;
        // border-left-width: 1px;
      }

      td:last-child {
        padding: .5rem 1rem;
        border-radius: 0 .25rem .25rem 0;
        text-align: right;
        // border-right-width: 1px;
      }

      td {
        height: 3.5rem;
        color: $white;
        // border: 1px solid white;
        border-right-width: 0;
        border-left-width: 0;
        font-size: 1.2rem;
        overflow: hidden;
      }
    }
    width: 100%;
  }

  &__pseudo {
    display: flex;
    gap: 1.25rem;
    align-items: center;
    font-size: 1.25rem;
    line-height: 1.25rem;
    font-weight: 800;
    color: #d32b2d;
    text-transform: uppercase;
  }

  &__rank {
    margin-left: -.5rem;
    padding-left: .5rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 3.5rem;
    width: 5rem;
    font-weight: bold;
    font-size: 1.25rem;
    background: $red;
    transform: skewX(-15deg);

    span {
      color: $white;
      transform: skewX(15deg);
    }
  }
}
